.header {
    width: 100%;
    height: 6rem;
    background-color: var(--color-grey-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }
  
  .header li {
    margin: 0 var(--size-4);
  }
  
  .header a {
    color: var(--color-grey-100);
    font-size: var(--size-4);
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: var(--color-grey-200);
  }
  
  @media (min-width: 768px) {
    .header ul {
      gap: 0.5rem;
    }
  
    .header a {
      font-size: var(--size-5);
    }
  }
  /* main-navigation.module.css */
.header {
  background-color: #f2eded; 
  color: navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header a {
  text-decoration: none; /* Remove underlines from links */
  color:rgb(1, 1, 56); /* Link text color */
  margin-right: 1rem; /* Add spacing between links */
}

.nav ul {
  list-style: none; /* Remove default list styles */
  display: flex;
  gap: 1rem; /* Add spacing between list items */
}

.nav ul li {
  font-size: 1.2rem; 
  color: navy;/* Adjust font size for list items */
}

/* Style the logo if needed */
.logo {
  font-size: 2rem;
  font-weight: bold;
}
